.boardcontainer {
  position: absolute;
  top: 10%;
  left: 25%;
}
.buttoncontainer {
  position: absolute;
  top: 300px;
  left: 250px;
}

#arrow {
  margin-left: 100px;
  height: 40px;
}

#highlighter {
  height: 50px;
  width: 110px;
  background-color: rgba(89, 218, 111, 0.65);
  position: absolute;
  top: 0px;
  left: 245px;
}

.luckyNumberContainer {
  float:right;
  margin: 100px;
}

.luckyNumberContainer ul {
  font-size: 20px;  
}

#luckynumbers li {
    position: relative;
    left: 30px;
    opacity: 0;
}